.Loading-overay{

    /* 전체 화면에서 중앙에 위치해야하므로 크기를 강제로 조절해준다 */
    width:100%;
    height:100%; 

    /* background-color: hotpink; */
    /* height가 100%가 안 먹을 때도 있는데 그러면 아래처럼 vh단위 사용.
    화면의 높이를 100분위로 나눠서 그 숫자만큼 적용한다.
    height: 100vh;  */

    position: fixed;    
    display: flex;
    align-items: center;
    justify-content: center;

    /* 화면의 기본값은 0이고 숫자가 1이 되면
    화면보다 1칸이 나와있다고 생각하면 됨. 뒤에있는 화면을 누르지 못하게.  */
    z-index: 1;

}