
@font-face {
  font-family:"nanum";
  font-weight: 500;
  src: url("./fonts/NanumSquareB.ttf");
}

/* 마진, 패딩 기본값 제거 */
body, html{
  margin: 0;
  padding: 0;
}

/* 클래스 지정 시 앞에 . 포인트 */
.App{
  font-family: "nanum";
}

.app-close{

  position: absolute;
  font-size : 24px;
  right: 20px;
  z-index: 999;  

}

.todolist-top{

 height: 200px;
 position: relative;
 align-items: center;
 justify-content: center;

}

.toptext{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  color: rgb(255, 255, 255);
}

.toptext-msg{
  margin: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todolist-date{
  font-size: 30px;
  font-weight: 700;
  margin: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.todolist-dayofweek{
  font-size: 23px;
  font-weight: 700;
  margin: 0 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.todolist-overview{
  font-size: 18px;
  font-weight: 700;
  /* margin: 7px 12px; */
  color:rgb(105, 74, 177);
  background-color: rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;

}

.todolist-item{
  border: 2px solid rgb(205, 209, 212);
  border-radius: 6px;
        /* 상하 좌우  */
  margin: 12px 12px;
  padding: 8px 0;
  box-shadow: 4px 4px 0px 0px rgb(204, 204, 204);
}

.todolist-item-content{
  display: flex;
  align-items: left;
  justify-content: center;
  display: flex;
}


.item-check{
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 15px;
  
  /* 창 사이즈에 따라 줄어들 때 최소 사이즈 정해놓을 수 있음 */
  border: 4px solid rgb(202, 202, 202);
}

/*체크했을 시 */
.item-done {

  color: rgb(96, 96, 185);
  border: 4px solid rgb(96, 96, 185);
  margin: 0 15px;

}


.item-text{
  width: 100%;
  margin: 1px 12px 0 12px;
  font-size: 18px; 
}

.item-text > input{
  width: 100%;
}

.item-menu{
  display: flex;
  font-size: 10px;
  margin: 0 15px;
}

.item-bottom{
  display: flex;
  margin: 0 9px; 
}



.item-deadline{

  margin: 8px 2px;
  font-size: 12px;
  font-weight: 600;
  vertical-align: bottom;
  
  position:fixed;
  right: 32px;

  color:rgb(46, 46, 46);
}

.daylist{
  display: flex;
  /* align-items: center;
  justify-content: center; */
  font-size: 15px;
  font-weight:800;
}

.dday{
  color :  rgb(95, 95, 95);
  text-align: center;
  width: 50px;
  /* margin: 0 0; */
}

.dday-today{
  color :  rgb(96, 96, 202);
  text-align: center;
  width: 50px;
  margin: 0 ;
}

.item-edit{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;

  margin: 0 10px;

  color : rgb(83, 83, 126);
}

.item-delete{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin: 0 10px;

  color : rgb(83, 83, 126);
}

.circle-button{
  /* 안에 있는 child 요소 가운데 정렬하는 공식  */
  display: flex;
  align-items: center;
  justify-content: center;

  /* 너비와 높이를 동일하게 주고 border-radius 50% => 원 */
  width: 37px;
  height: 37px;
  border-radius: 50%;

  /* 내가 원하는 위치로 강제 지정 */
  /* absolute는 스크롤에 따라서 움직이고 fixed는 고정 */
  position: fixed; 
  right: 20px;
  bottom: 20px; 

  border: 5px solid rgb(214, 214, 214);

  font-size: 28px;
  color: rgb(83, 83, 126);

}

.bottom-sheet{
  /* display: flex;*/
  align-items: center;
  justify-content: center;

  /* margin: 0 12px; */
  height: 120px;
  background-color: rgba(186, 206, 228, 0.699);
}

/* bottom-sheet 클래스 내에 있는 input */
.bottom-sheet > input {
  /*너비를 퍼센트로 주면 화면 크기에 따라 바뀜*/
  width: 100px;  
  outline: none; /*테투리제거*/  
  border-radius: 4px;  /*모서리둥글게*/
  
}

.create-input{
  text-align:center;
  width:100%;
  height:25px;
  margin: 5px 0;
}

.bottom-item{
  height: 130px;
  align-items: center;
  justify-content: center;
}

.setDate{
  display: flex;
  margin: 2px 12px;
  padding: 15px 0 8px 0;
  justify-content: center;
}

.icon{
  /* height: 20px; */
  margin: 0 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-create{
  display: flex;
  margin: 0px 12px;
  text-align: center;
}

.Textinput{
  background-color:rgb(255, 255, 255);
  font-weight: 600;
  color: black;
  /* outline: none; */
  border-radius: 5px;
  line-height: 16px;
  height: 25px;
  width: 120px;
  text-align: center;
  /* justify-content: center; */
  
}

.text-done{
  color: gray;
  text-decoration: line-through;
}
